# Conexão com MongoDB
pymongo

# Embeddings com Sentence Transformers
sentence-transformers
transformers
torch
sentencepiece

# LLM via Ollama ou OpenAI API
openai>=1.0.0

# Chamadas HTTP para API gratuita de LLM
requests

# Carregar variáveis de ambiente do .env
python-dotenv

# Scraping
beautifulsoup4
lxml

# Progresso
tqdm

huggingface_hub==0.16.4
sentence-transformers

# Web framework
uvicorn[standard]
# Cron
apscheduler

annotated-types
anyio
click
colorama
exceptiongroup
fastapi
h11
idna
pydantic_core
sniffio
starlette
typing-inspection
typing_extensions